.App {
  text-align: center;
}

.box-row{
  display: flex;
}
.box {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.keyboard-container {
  > div {
    display: flex;
  }
  span {
    border: 1px solid black;
    width: 20px;
    height: 20px;
  }
}
.grey {
  background-color: lightgray;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}